@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; }

/*--------------------*/
body {
  font-family: 'Roboto', sans-serif; }

.link {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #777777;
  transition-duration: 0.5s;
  letter-spacing: 1.5px; }
  .link:hover {
    color: #000; }

.header__container {
  box-shadow: 0px 1px rgba(0, 0, 0, 0.15); }

.header__body {
  padding: 0 10px;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1140px; }

.header__nav {
  display: flex;
  align-items: center; }
  .header__nav:before {
    content: "";
    background-color: #000;
    height: 1.5px;
    width: 20px;
    margin-top: 5px;
    margin-right: 25px; }

.header__burger {
  display: none !important;
  cursor: pointer; }

.header__item {
  padding-right: 50px; }
  .header__item:last-child {
    padding-right: 0px; }

.header__search {
  background: #777777;
  height: 40px;
  border-radius: 40px; }
  .header__search:hover > .header__text {
    width: 240px;
    padding-left: 15px; }
  .header__search:hover > .header__btn {
    background: #fff;
    color: #777777; }

.header__text {
  background: none;
  float: left;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
  padding-left: 0px;
  transition: 0.6s;
  transition-delay: 0.1s; }
  .header__text::placeholder {
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700; }

.header__btn {
  color: #fff;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #777777;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
  transition-delay: 0.2s; }

@media (max-width: 977px) {
  .header body.lock {
    overflow: hidden; }
  .header__body {
    height: 60px; }
  .header__burger {
    display: block !important;
    z-index: 10;
    margin-right: 15px;
    color: #777777;
    font-size: 24px;
    position: relative;
    left: 0%;
    margin-top: 1.5px;
    transition-delay: 0.2s;
    transition-duration: 0.5s; }
  .header__burger.active {
    color: #fff;
    transform: scale(1.35); }
  .header__nav {
    z-index: 8;
    position: fixed;
    display: block;
    flex-direction: column;
    top: -100%;
    width: 100%;
    height: 100%;
    left: 0;
    background-color: #000;
    padding: 80px 0 0 10px;
    transition-duration: 0.7s;
    transition-timing-function: ease-out; }
  .header__nav.active {
    top: 0;
    transition-timing-function: ease-out;
    transition-duration: 0.7s; }
  .header__link {
    font-size: 16px; }
    .header__link:hover {
      color: #fff; }
  .header__item {
    padding-top: 20px; }
  .header__logo {
    z-index: 10;
    transition-duration: 0.7s; }
  .header__logo.active {
    background: #C9C9C9FF;
    transition-duration: 0.7s;
    padding: 5px; }
  .header__search {
    margin-top: 30px;
    display: inline-flex; }
  .header__text {
    align-self: flex-end; }
  .header__btn {
    align-self: flex-end; } }

@media (max-width: 469px) {
  .header__logo {
    transform: scale(0.7); }
  .header__body {
    height: 40px; }
  .header__nav {
    padding: 45px 0 0 30px; } }

.slider__body {
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
  z-index: 5; }

.slider__item {
  position: relative; }

.slider__text {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  display: flex;
  z-index: 4;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 8px; }

.slider__title {
  padding: 10px 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 48px;
  font-weight: 300;
  color: #fff;
  background-color: #000;
  max-width: 750px;
  min-height: 55px;
  text-align: center; }

.slider__subtitle {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  padding-top: 50px; }

@media (max-width: 977px) {
  .slider__subtitle {
    padding-top: 20px;
    line-height: 23px; } }

.slick-slide {
  z-index: 4; }

.slick-list {
  overflow: hidden; }

.slick-track {
  display: flex; }

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 4;
  font-size: 0;
  height: 45px;
  width: 45px; }

.slider .slick-arrow.slick-next {
  right: 0;
  margin-right: 110px;
  background: url("https://image.flaticon.com/icons/png/512/60/60775.png") 0 0/100% no-repeat;
  transform: scale(-1, 1);
  border-radius: 50%;
  transition-duration: 0.5s;
  opacity: 0.7; }
  .slider .slick-arrow.slick-next:hover {
    transform: scale(-1.3, 1.3); }

.slider .slick-arrow.slick-prev {
  background: url("https://image.flaticon.com/icons/png/512/60/60775.png") 0 0/100% no-repeat;
  margin-left: 110px;
  background-size: 100%;
  border-radius: 50%;
  transition-duration: 0.5s;
  opacity: 0.7;
  fill: #fff; }
  .slider .slick-arrow.slick-prev:hover {
    transform: scale(1.3); }

@media (max-width: 976px) {
  .slider .slick-arrow.slick-next {
    margin-right: 15px;
    margin-top: 50px; }
  .slider .slick-arrow.slick-prev {
    margin-left: 15px;
    margin-top: 50px; } }

@media (max-width: 469px) {
  .slick-arrow {
    height: 35px;
    width: 35px; } }

#slick-slide-control00 {
  display: none; }

.slick-dots {
  position: absolute;
  bottom: 0;
  transform: translate(-50%, -50%);
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }

.slick-dots li {
  list-style: none;
  margin: 0 17px; }

.slick-dots button {
  width: 15px;
  height: 15px;
  background-color: #fff;
  font-size: 0;
  border-radius: 50%; }

.slick-dots li.slick-active button {
  border-radius: 50%;
  transition-duration: 0.3s;
  border: 4px solid #000; }

.photo__body {
  position: relative;
  max-width: 1140px;
  margin: 10px auto; }

.photo__menu {
  cursor: pointer;
  display: none !important; }

.photo__nav {
  margin-top: 25px;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative; }
  .photo__nav:after {
    content: "";
    background-color: #e1e1e1;
    height: 1px;
    width: 1140px;
    position: absolute;
    bottom: 0; }
  .photo__nav:before {
    content: "";
    background-color: #e1e1e1;
    height: 1px;
    width: 1140px;
    position: absolute;
    top: 0; }

.photo__item {
  margin-right: 50px; }
  .photo__item:after {
    content: "";
    background-color: #e1e1e1;
    height: 30px;
    width: 1px;
    position: absolute;
    transform: rotate(22deg);
    top: 0;
    margin-top: 15px;
    margin-left: 25px; }
  .photo__item:last-child {
    margin-right: 0px; }
  .photo__item:last-child::after {
    display: none; }

.photo__link {
  position: relative; }

.photo__list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  padding-top: 30px; }

.photo__part2 {
  padding: 0 30px; }

.photo__column {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start; }

.photo__img {
  max-width: 360px;
  margin-bottom: 35px;
  position: relative; }

.photo__img.hide {
  display: none; }

.photo__load {
  display: flex;
  justify-content: center; }

.photo__btn {
  border-radius: 6%;
  margin-bottom: 40px;
  font-size: 13px;
  text-transform: uppercase;
  color: #fff;
  background-color: #959595;
  border: 1px solid #959595;
  padding: 10px 25px;
  font-weight: 550;
  letter-spacing: 1px; }

@media (max-width: 1140px) {
  .photo__nav:before, .photo__nav:after {
    width: 970px; } }

@media (max-width: 977px) {
  .photo__menu {
    font-size: 35px;
    display: flex !important;
    justify-content: center;
    color: #959595;
    padding-top: 15px;
    transition-duration: 0.3s; }
  .photo__menu.active {
    font-size: 40px;
    transition-duration: 0.3s;
    color: #4C4C4CFF; }
  .photo__nav {
    display: none;
    height: 150px; }
    .photo__nav:before, .photo__nav:after {
      display: none; }
  .photo__item {
    margin-bottom: 6px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .photo__item:after {
      display: none; }
  .photo__link {
    font-size: 16px; }
    .photo__link:hover {
      transform: scale(1.2); }
  .photo__part2 {
    padding: 0; } }
