@import "nullstyle.scss";

body{
	font-family: 'Roboto', sans-serif;
}
//Хэдэр//
.header {
	&__container{
		box-shadow: 0px 1px  rgba(0, 0, 0, 0.15);
	}
	&__body{
		padding: 0 10px;
		height: 90px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 auto;
		max-width: 1140px;
	}

	&__logo {
		
	}
	&__nav {
		display: flex;
		align-items: center;
		&:before{
			content: "";
			background-color: #000;
			height: 1.5px;
			width: 20px;
			margin-top: 5px;
			margin-right: 25px;
		}
		
	}
	&__burger{
		display: none !important;
	}
	

	&__item {
		padding-right: 50px;
		&:last-child{
			padding-right: 0px;
		}
	}
	&__link {
		font-size: 14px;
		font-weight: 700;
		color: #777777;
		transition-duration: 0.5s;
		&:hover{
			color: #000;
		}
	}
	&__search {
		background: #777777;
		height: 40px;
		border-radius: 40px;
		&:hover > .header__text{
			width: 240px;
			padding-left: 15px;
		}
		&:hover > .header__btn{
			background: #fff;
			color: #777777;
		}
	}

	&__text {
		background: none;
		float: left;
		color: white;
		font-size: 16px;
		transition: 0.4s;
		line-height: 40px;
		width: 0px;
		padding-left: 0px;
		transition: 0.6s;
		transition-delay: 0.1s;
		&::placeholder{
			color: #fff;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 700;
		}
	}
	&__btn {
		color: #fff;
		float: right;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #777777;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s;
		transition-delay: 0.2s;
	}
	@media(max-width: 977px){
		body.lock{
			overflow: hidden;
		}
		&__burger{
			display: block !important;
			z-index: 10;
			margin-right: 15px;
			color: #777777;
			font-size: 24px;
			position: relative;
			left: 0%;
			margin-top: 1.5px;
			transition-delay: 0.2s;
			transition-duration: 0.5s;
		}
		&__burger.active{
			color: #fff;
			transform: scale(1.35);

		}
		&__nav{
			position: fixed;
			display: block;
			flex-direction: column;
			top: -100%;
			width: 100%;
			height: 100%;
			left: 0;
			background-color: black;
			padding:80px 0 0 10px;
			transition-duration: 0.7s;
			transition-timing-function: ease-out;

		}
		&__nav.active{
			top: 0;
			transition-timing-function: ease-out;
			transition-duration: 0.7s;
		}

		&__link{
			font-size: 16px;
			&:hover{
				color: white;	
			}	
		}
		&__item{
			padding-top: 20px;
		}
		&__logo{
			z-index: 10;
		}
		&__search {
			margin-top: 30px;
			display: inline-flex;		
		}
		&__text{
			align-self: flex-end;
		}
		&__btn{
			align-self: flex-end;
		}
	}
}

// /Хэдэр===================================================================================================//
// Второй блок============================================================================================= //
